header {
    display: flex;
    justify-content: center;
    background-image: url("../../assets/cover.jpg");
    height: 256px;
    background-repeat: no-repeat;
    background-size: 100% 600px;;
    background-position: top;
    margin-bottom: 228px;
}
