.joke-list{
    list-style-type: none;
    display: grid;
    grid-auto-rows: max-content;
    width: 80vw;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    gap: 10px;
    padding: 0;
    max-height: 700px;
    overflow: auto;

    li{
        border: 1px solid #b3bec2;
        font-family: 'roboto-reg';
        padding: 0 12px;

        span{
            font-size: 10px;
        }

        &:hover{
            background-color: #fff2ee;
        }
    }
}